<h1>Your Creature</h1>

<%= link_to 'Back Home', creatures_path, class: 'btn btn-primary', style: 'margin-bottom: 1%' %>

<div class="well">
	<h2><%= @creature.name %></h2>
	<p><%= @creature.description %></p>
</div>
